﻿@model FacultyManagement.ViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>ChangePassword</h2>

<div>
	<h2>Change Password</h2>
	<div>An email with the reset code has been sent</div>
	@using (@Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
	{
		@Html.ValidationSummary(true)
		@Html.AntiForgeryToken()
		<div>
			<div>@Html.HiddenFor(model => model.Username)</div>
			<div>@Html.HiddenFor(model => model.TypeOfUser)</div>
			<label>Reset code</label>
			<div>
				@Html.TextBoxFor(model => model.ResetCode)
				@Html.ValidationMessageFor(model => model.ResetCode)
			</div>
			<label>New Password</label>
			<div>
				@Html.PasswordFor(model => model.NewPassword)
				@Html.ValidationMessageFor(model => model.NewPassword)
			</div>
		</div>
		<p>
			<input class="btn btn-info pull-left" style="font-weight: bold" type="submit" value="Save">
		</p>
	}
</div>