﻿@using System.Web.Mvc.Html
@model FacultyManagement.ViewModel.LoginViewModel
@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @style = "color:red;" })
	
	<form role="form">
		<div class="form-group">
			@Html.TextBoxFor(user => user.Username, new { @class = "btn-block", @placeholder = "Username" })
			@Html.ValidationMessageFor(user => user.Username)
		</div>
		<div class="form-group">
			@Html.PasswordFor(user => user.Password, new {@class = "btn-block", @placeholder = "Password"})
			@Html.ValidationMessageFor(user => user.Password)
		</div>

		<div class="form-group">
			@Html.DropDownListFor(user => user.TypeOfUser, new List<SelectListItem>
			{
				new SelectListItem {Value = "0", Text = "Teacher"},
				new SelectListItem {Value = "1", Text = "Student"},
				new SelectListItem {Value = "2", Text = "Chief of Department"},
				new SelectListItem {Value = "3", Text = "Administrative Staff"}
			})
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<button type="submit" class="btn btn-success btn-block">
					<strong> Sign in </strong>
				</button>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<a class="btn btn-default btn-block" href="RecoverPassword">
					<strong>Recover Password</strong>
				</a>
			</div>
		</div>
	</form>
}