﻿@model FacultyManagement.ViewModel.RecoverPasswordViewModel
@{
    ViewBag.Title = "Recover Password";
}

<div>
	<h2>Recover Password</h2>
	@using (@Html.BeginForm("RecoverPassword", "Home", FormMethod.Post))
	{
		@Html.ValidationSummary(true)
		@Html.AntiForgeryToken()
		<div>
			<label>Username</label>
			<div>
				@Html.TextBoxFor(model => model.Username)
				@Html.ValidationMessageFor(model => model.Username)
			</div>
		</div>
		<div>
			<label>Email</label>
			<div>
				@Html.TextBoxFor(model => model.Email)
				@Html.ValidationMessageFor(model => model.Email)
			</div>
		</div>
		<div class="form-group">
			@Html.DropDownListFor(user => user.TypeOfUser, new List<SelectListItem>
				{
					new SelectListItem {Value = "0", Text = "Teacher"},
					new SelectListItem {Value = "1", Text = "Student"},
					new SelectListItem {Value = "2", Text = "Chief of Department"},
					new SelectListItem {Value = "3", Text = "Administrative Staff"}
				})
		</div>
		<p>
			<input class="btn btn-info pull-left" style="font-weight: bold" type="submit" value="RecoverPassword">
			<input class="btn btn-info pull-left" style="font-weight: bold" type="reset" value="Cancel" onclick="javascript:document.location.href='@Url.Action("Login","Home")'" />
		</p>
	}
</div>